<div class="jumbotron">
  <h1>Irrigation 365</h1>
  <p class="lead">
    <img src="images/irrigation-transparent.png" alt="Irrigation 365 Logo"><br>
    Water. Smarter.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/home">Get Started!</a></p>
</div>

<div class="row marketing">
  <h4>Schedule Waterings</h4>
  <p>
    Use your Office 365 calendar to schedule waterings at the best time for you and your garden.
  </p>

  <h4>Monitor Soil Moisture</h4>
  <p>
    Check your soil moisture from anywhere with an Internet connection. Water only if your plants need it.
  </p>

  <h4>Check the Weather</h4>
  <p>Don't waste water. Automatically skip watering when it's just rain or it's about to.</p>
</div>
